#screenshot-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2147483646; /* Use a very high z-index */
  cursor: crosshair;
}

#screenshot-selection-box {
  position: fixed;
  border: 2px dashed #fff;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  z-index: 2147483647; /* Should be on top of the overlay */
  display: none;
  pointer-events: none; /* Allows mouse events to pass through to the overlay */
}